div#words,
div#chars {
	display: inline-block;
	vertical-align: middle;
}

div#words {
	width: 200px;
}

div#words ol li {
	line-height: 40px;
}

div#chars {
	width: 500px;
}

div#chars table {
	width: 380px;
	height: 380px;
	margin: 0px auto;
	border-collapse: collapse;
}

div#chars table td.char {
	border: 1px black solid;
}

div#chars table td.char.highlight {
	background-color: green;
}