div#words,
div#chars {
	display: inline-block;
	vertical-align: middle;
}

div#words {
	width: 240px;
}

div#words table {
	border-collapse: collapse;
}

div#words table td {
	width: 40px;
	height: 40px;
}
/*
div#words ol li {
	margin: 10px auto;
	line-height: 40px;
}

div#words ol li table {
	border-collapse: collapse;
}

div#words ol li .char {
	width: 40px;
	height: 40px;
}
*/
div#chars {
	width: 500px;
}

div#chars table {
//	width: 380px;
//	height: 380px;
	margin: 0px auto;
	border-collapse: collapse;
}

div#chars table td {
	width: 40px;
	height: 40px;
}

td.char {
	border: 1px black solid;
}

td.char:hover {
	cursor: default;
}

td.char.highlight {
	background-color: green;
}