$def with()

$var title:		Index
$var css:		index.css
$var js:		

<table id="list">
	<tbody>
		<tr>
			<td class="link">
				<li>
					<a href="/main/"> Main Page </a>
				</li>
			</td>
			<td class="comments">
				This is the main page for Chinese character phrase searching
			</td>
		</tr>
		
		<tr>
			<td class="link">
				<li>
					<a href="/settings/"> Settings Page </a>
				</li>
			</td>
			<td class="comments">
				This is the settings page allowing you to make some settings
			</td>
		</tr>
	</tbody>
</table>
