$def with(Chars, Words, settings)

$var title:		Settings Page
$var css:		settings.css
$var js:		

<form id="settings" action="/settings/" method="post">
	<table>
		<caption>
			<h2>
				Settings
			</h2>
		</caption>
		<tbody>
			<tr>
				<td class="item">
					Number of Shown Words:
				</td>
				<td class="value">
					<input type="text" name="showcount" value="$settings['showcount']" />
				</td>
			</tr>
			
			<tr>
				<td class="item">
					Number of Upside-down Charaters:<br />
					(disabled currently)
				</td>
				<td class="value">
					<input type="text" name="upsidedown" value="$settings['upsidedown']" />
				</td>
			</tr>
			
			<tr>
				<td class="item">
					Number of Turn-down Charaters:<br />
					(disabled currently)
				</td>
				<td class="value">
					<input type="text" name="turndown" value="$settings['turndown']" />
				</td>
			</tr>
			
			<tr>
				<td class="item">
					Word Repository:<br />
					(one word per line)
				</td>
				<td class="value">
					$ wordlist = ""
					$for word in Words:
						$ wordlist += word + "\n"
					<textarea name="words" rows="10" cols="10">$:wordlist</textarea>
				</td>
			</tr>
			
			<tr>
				<td class="item">
					Character Repository:
				</td>
				<td class="value">
					$ charlist = ""
					$for char in Chars:
						$ charlist += char
					<textarea name="chars" rows="10" cols="30">$:charlist</textarea>
				</td>
			</tr>
		</tbody>
	</table>
	<input type="submit" name="save" value="Save" />
</form>